.Projects_Panel_One{
    margin-top: calc(50vh - 180px);
}

#title{
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#description{
    font-size: 17px;
    margin-left: 10px;
    color: gray;
}
#tech{
    display: flex;
    margin-left: 10px;
}
#tech li{
    margin-right: 10px;
    font-size: 40px;
}

.Controls{
    position: fixed;
    bottom: 10px;
    width: 100%;
}
.Link_Controls_Header{
    display: flex;
    margin-left: calc(100vw - 215px);
}
.Link_Controls_Header p{
    color: gray;
    margin: 10px
}
.Link_Control_Panel{
    margin-left: calc(100vw - 210px);
    width: 140px;
}
.Nav_Controls{
    display: flex;
    margin-left: calc(100vw - 160px);
    width: 95px;
}
#previous-btn{
    margin-right: 15px;
}
#next-btn{
    margin-left: 15px;
}
#center-img{
    margin-left: 20px;
    margin-right: 20px;
}
#first-link-header{
    margin-left: 7px;
    margin-right: 13px;
}
#center-link-header{
    margin-left: 8px;
    margin-right: 12px;
}
.Repo_Controls{
    position: fixed;
    bottom: 10px;
    width: 100%;
}
.Repo_Controls_Header{
    display: flex;
    margin-left: calc(100vw - 165px);
}
.Repo_Controls_Header p{
    color: gray;
    margin: 10px
}
.Repo_Link_Controls{
    margin-left: calc(100vw - 200px);
    width: 150px;
}
#repo-nag{
    margin-left: calc(100vw - 165px);
    width: 100px;
}
#client-img, #back-img{
    margin-right: 15px;
}
#screenshot-loader{
    display: none;
}
#screenshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    width: 250px;
}
#collapse-preview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 30px;
}